@font-face 
	font-family 'icomoon';
	src url('fonts/icomoon.eot')
	src url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight normal
	font-style normal

	/*iconos*/

[class^="icon-"], [class*=" icon-"] 
	cursor pointer
	font-family  'icomoon'
	font-style normal
	font-variant normal
	font-weight normal
	line-height 1
	speak  none
	text-transform none

	/* Better Font Rendering =========== */
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

.icon-undo:before 
	content "\e600"
.icon-star:before 
	content  "\e601"
.icon-twitter:before 
	content "\e602"
.icon-loop:before 
	content: "\e603"

header
	padding 20px
.center
	text-align center
.clearfix
	display inline-block
	&:after
		content ""
		display block
		clear both
		visibility hidden
		line-height 0
		height 0
html[xmlns] .clearfix
	display block
* html .clearfix
	height 1%

.left
	float left
.right
	float right

.items
	background-color #f2f2f2
	box-sizing border-box
	padding 45px 20px
	width 100%
	height 100%
	.item
		background-color #ffffff
		border 1px solid #d1d1d1
		border-radius 5px
		display inline-block
		height 250px
		margin 0px 10px 20px 10px
		padding 20px
		vertical-align top
		width 250px

.search 
	margin-bottom 20px
	input
		border 1px solid #dcdcdc
		border-radius 10px
		margin-left 20px
		padding 5px

.usuario
	border-bottom 1px solid #d1d1d1
	padding-bottom 15px
	.avatar
		border-radius 5px
		padding-right 20px
		width 48px
		height 48px
	.info
		margin-left 68px
		p
			margin 0px
		.name
			color #000000
			font-size 15px
			padding-bottom 5px
		.user
			color #a0a0a0
.tweet
	padding 20px 0px
	border-bottom 1px solid #d1d1d1
	p
		color #808080
		font-size 14px
		margin 0px
.content-icon
	padding 10px 0px


		
		



